<h1>du lieu: @ViewBag.infoperson</h1>
<form asp-action="Index">
<label >person ID:</label>
<input type="text"name="personId">
<label for="">ho ten:</label>
<input type="text" name="fullname">
<label for="">dia chi:</label>
<input type="text"name="address">
<input type="submit" value="gui du lieu">
</form>